<IfModule mod_authz_core.c>
    <FilesMatch "^(debug_.*\.php|test_.*\.php)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
    <FilesMatch "^(debug_.*\.php|test_.*\.php)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
